/* Set background color and padding bottom to body element */
body {
padding-bottom: 20px;
background-color: #444444;
}

/* Set padding left and right for the main content */
.body-content {
padding-left: 15px;
padding-right: 15px;
}

/* Set white space to normal for horizontal description lists */
.dl-horizontal dt {
white-space: normal;
}

/* Set max width for various input types */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
max-width: 280px;
}

/* Responsive styles for portrait tablets and up /
@media screen and (min-width: 768px) {
/ Margin top for jumbotron /
.jumbotron {
margin-top: 20px;
}
/ Reset padding for main content */
.body-content {
padding: 0;
}
}
