<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="2.2.4" targetFramework="net46" developmentDependency="true" />
  <package id="Fody" version="6.5.0" targetFramework="net46" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="14.0.3" targetFramework="net46" />
</packages> 
